@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-rgb: 26, 42, 51;
  --color-primary-main: 49, 195, 189;
  --color-primary-light: 31, 54, 65;
  --color-primary-dark: 16, 33, 42;
  --color-secondary-main: 242, 177, 55;
  --color-secondary-dark: 204, 139, 19;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background-color: rgb(var(--background-rgb));
}

.button-vsPlayer {
  color: rgb(var(--color-primary-dark));
  background-color: rgb(var(--color-secondary-main));
  cursor: pointer;
  box-shadow: 4px 5px 2px rgb(var(--color-primary-dark));
}

.button-vsPlayer:hover {
  background-color: rgb(var(--color-secondary-dark));
}

.startGameBtn:hover {
  background-color: rgb(var(--color-secondary-main));
}
